@import url("https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Open+Sans:300i,400|Raleway");

body {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  line-height: 1.5;
  counter-reset: section;
  text-align: center;
}

h1, h4 {
  font-family: 'Raleway', sans-serif;
}

h1 {  
  margin-top: 6rem;
  font-size: 300%;
  color: #9980b2;
  letter-spacing: 2px; 
}  

h1:after {
  counter-increment: section;
  content: counter(section);
  padding-left: 10px;  
}

h4 {
  color: #9980b2;  
  font-weight: bold;
  padding-bottom: 15px;
  padding-top: 15px; 
}

.blue {
  color: #3caed2;
}

.pink {
  color: #e8488b;
}

.purple {
  color: #9980b2;
}

.gray {
  color: #95a5a6;
}

.blackish {
  color: #2d2d2d;
}

.yellow {
  color: #fbce47;
}

.second-row {
  margin: 0 3.5rem 0.25rem 3.5rem;
  display: flex;
  justify-content: center;  
}

.data-col-1, .data-col-2, .data-col-3, .data-col-4 {
  margin-top: 3rem;
  margin-right: 1.5rem;
  padding-bottom: 3rem;  
}

.row.main-info {
  margin-bottom: 2rem;
}

.divider {
  margin-top: 5rem auto 5rem auto;
  margin-left: -15px;
  width: 120%;
  height: 6rem;
  background-color: #93c90e;
}

.card {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
  padding-left: 50px;
  text-align: left;
}

.lg-card {
  box-shadow: 0px 3px 15px rgba(0,0,0,0.2);  
  padding-left: 50px;
  text-align: left;
  margin-right: 3rem;
  margin-left: 1.25rem;
}

.red {
  color: #e8488b;
  font-weight: bold;
  font-size: 15px;
}

.red:after {
  content: "\2716";
  padding-left: 5px;
  
}

.green {
  color: #93c90e;
  font-weight: bold;
  font-size: 15px;
  
}

.green:after {
  content: 	"\2713";
  padding-left: 5px;
}

.enabled {
  border: 4px solid #93c90e;
  color: #93c90e;
  padding: 0 8px;  
  font-size: 90%;
}

.disabled {
  border: 4px solid #e8488b;
  color: #e8488b;
  padding: 0 8px;
  font-size: 90%;
  margin-left: 5px; 
}

.logo {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
  background-color: #93c90e;
  margin: 50px -15px;   
  height: 100px;  
  background-origin: content-box;
  background-position: left;
  background-repeat: no-repeat;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 686.2 235.7'%3E%3Cpath d='M329.4 160.3l4.7-.5.3 9.6c-12.4 1.7-23 2.6-31.8 2.6-11.7 0-20-3.4-24.9-10.2-4.9-6.8-7.3-17.4-7.3-31.7 0-28.6 11.4-42.9 34.1-42.9 11 0 19.2 3.1 24.6 9.2 5.4 6.1 8.1 15.8 8.1 28.9l-.7 9.3h-53.8c0 9 1.6 15.7 4.9 20 3.3 4.3 8.9 6.5 17 6.5 8.2.1 16.5-.2 24.8-.8zm-4.4-35.4c0-10-1.6-17.1-4.8-21.2-3.2-4.1-8.4-6.2-15.6-6.2-7.2 0-12.7 2.2-16.3 6.5-3.6 4.3-5.5 11.3-5.6 20.9H325zm29.3 45.5v-117h12.2v117h-12.2zm89.2-56.9v40.1c0 4.1 10.1 4.9 10.1 4.9l-.6 10.8c-8.6 0-15.7.7-20-3.4-9.8 4.3-19.5 6.1-29.3 6.1-7.5 0-13.2-2.1-17.1-6.4-3.9-4.2-5.9-10.3-5.9-18.3 0-7.9 2-13.8 6-17.5 4-3.7 10.3-6.1 18.9-6.9l25.6-2.4v-7c0-5.5-1.2-9.5-3.6-11.9-2.4-2.4-5.7-3.6-9.8-3.6h-32.1V87.2H417c9.2 0 15.9 2.1 20.1 6.4 4.3 4.2 6.4 10.9 6.4 19.9zm-50.2 33.2c0 10 4.1 15 12.4 15 7.4 0 14.7-1.2 21.8-3.7l3.7-1.3v-26.9l-24.1 2.3c-4.9.4-8.4 1.8-10.6 4.2-2.1 2.4-3.2 5.9-3.2 10.4zm97.9-48.5c-11.8 0-17.8 4.1-17.8 12.4 0 3.8 1.4 6.5 4.1 8.1 2.7 1.6 8.9 3.2 18.6 4.9 9.7 1.7 16.5 4 20.5 7.1 4 3 6 8.7 6 17.1 0 8.4-2.7 14.5-8.1 18.4-5.4 3.9-13.2 5.9-23.6 5.9-6.7 0-29.2-2.5-29.2-2.5l.7-10.6c12.9 1.2 22.3 2.2 28.6 2.2 6.3 0 11.1-1 14.4-3 3.3-2 5-5.4 5-10.1 0-4.7-1.4-7.9-4.2-9.6-2.8-1.7-9-3.3-18.6-4.8-9.6-1.5-16.4-3.7-20.4-6.7-4-2.9-6-8.4-6-16.3s2.8-13.8 8.4-17.6c5.6-3.8 12.6-5.7 20.9-5.7 6.6 0 29.6 1.7 29.6 1.7v10.7c-12-.8-21.9-1.6-28.9-1.6zm90.5 1.3h-25.9v39c0 9.3.7 15.5 2 18.4 1.4 2.9 4.6 4.4 9.7 4.4l14.5-1 .8 10.1c-7.3 1.2-12.8 1.8-16.6 1.8-8.5 0-14.3-2.1-17.6-6.2-3.3-4.1-4.9-12-4.9-23.6V99.5h-11.6V88.9h11.6v-25h12.1v24.9h25.9v10.7zm17-29.1V56.3h12.2v14.2h-12.2zm0 100V88.9h12.2v81.5h-12.2zm65.1-83.2c3.6 0 9.7.7 18.3 2l3.9.5-.5 9.9c-8.7-1-15.1-1.5-19.2-1.5-9.2 0-15.5 2.2-18.8 6.6-3.3 4.4-5 12.6-5 24.5s1.5 20.2 4.6 24.9c3.1 4.7 9.5 7 19.3 7l19.2-1.5.5 10.1c-10.1 1.5-17.7 2.3-22.7 2.3-12.7 0-21.5-3.3-26.3-9.8-4.8-6.5-7.3-17.5-7.3-33s2.6-26.4 7.8-32.6c5.4-6.2 14.1-9.4 26.2-9.4zm-427.2 36.3c0-19.8-12.3-37.2-30.8-43.9.8-4.2 1.2-8.4 1.2-12.7C207 30 177 0 140.2 0 118.6 0 98.6 10.3 86 27.7c-6.2-4.8-13.8-7.4-21.7-7.4-19.6 0-35.5 15.9-35.5 35.5 0 4.3.8 8.5 2.2 12.4-18.4 6.6-31 24.3-31 44 0 19.9 12.4 37.3 30.9 44-.8 4.1-1.2 8.4-1.2 12.7 0 36.8 29.9 66.7 66.7 66.7 21.6 0 41.6-10.4 54.1-27.8 6.2 4.9 13.8 7.6 21.7 7.6 19.6 0 35.5-15.9 35.5-35.5 0-4.3-.8-8.5-2.2-12.4 18.4-6.6 31.1-24.3 31.1-44zm-145-88.7c10.9-15.9 28.9-25.4 48.1-25.4 32.2 0 58.4 26.2 58.4 58.4 0 3.9-.4 7.7-1.1 11.5l-52.2 45.8L93 101.5 82.9 79.9l8.7-45.1zM65.4 29c6.2 0 12.1 2 17 5.7L74.6 75l-35.5-8.4c-1.1-3.1-1.7-6.3-1.7-9.7 0-15.3 12.5-27.9 28-27.9zM9.1 112.3c0-16.7 11-31.9 26.9-37.2l39 9.3 9.1 19.5-49.8 45c-15.1-5.8-25.2-20.3-25.2-36.6zm136.1 88.6c-10.9 16.1-29 25.6-48.4 25.6-32.3 0-58.6-26.3-58.6-58.5 0-4 .4-7.9 1.1-11.7l50.9-46 52 23.7 11.5 22-8.5 44.9zm26 5.7c-6.1 0-12-2-16.9-5.8l7.7-40.2 35.4 8.3c1.1 3.1 1.7 6.3 1.7 9.7.1 15.5-12.5 28-27.9 28zm29.3-46.1l-39-9.1-10.4-19.8 51-44.7c15.1 5.7 25.2 20.2 25.2 36.5.1 16.7-10.9 31.9-26.8 37.1z' fill='%23fff'/%3E%3C/svg%3E"); 
} 